<h1><%= @task.title %></h1>
<div class="taks-details"><%= @task.details %></div>
<% if @task.completed %>
  <div class="completed-status">☑️ The task is completed</div>
<% else %>
  <div class="completed-status">❌ The task is not yet completed</div>
<% end %>
<%= link_to 'back to list', tasks_path %>
<%= link_to 'edit', edit_task_path(@task) %>
